<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NineOneCP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8BA0FD98D9B14E49A0E60DA99C5BCC26DBCCF4D9</string>
				<key>dateExpires</key>
				<string>2019/5/14</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SC8GQ8G9D8.com.c9f5.7baf</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SC8GQ8G9D8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NineOneCP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d204b28c-b529-41ef-ab0a-1b7f37a0b693</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.c9f5.7baf</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SC8GQ8G9D8</string>
				<key>name</key>
				<string>Shiwei Luo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
